<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='videos/logo7.png')}}" class="logo">
        </a>
        <ul>
            <li><a href="{{ url_for('login') }}">login</a></li>
            <li><a href="{{ url_for('register') }}">register</a></li>
        </ul>
    </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="extra_content">
        {% block extra_content %}
        {% endblock %}
    </div>
</body>

</html>