{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboardstyle.css')}}">
{% endblock %}
{% block content %}
<div class="masterdiv">
    {% for i in countries %}
    <div>
        <p class="country-text"><a class="info-link" href="{{ url_for('information', i=i) }}">{{i}}</a></p>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block extra_content %}
<a class="redirect" href="{{url_for('logout')}}">Press here to logout </a>
{% endblock %}


