{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/loginstyle.css')}}">
{% endblock %}
{% block content %}
<form class="forms" method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.username }}
    {{ form.password }}
    {{ form.submit }}
</form>
{% endblock %}
{% block extra_content %}
<a class="redirect" href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
{% endblock %}